<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728354719905-kv6ue4tkotfu3eth8a7ekhilkn5btlm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728354719905-kv6ue4tkotfu3eth8a7ekhilkn5btlm1</string>
	<key>API_KEY</key>
	<string>AIzaSyA3NbO8x0zMbHuwaKxWmCSeZZ3aRg-lbWA</string>
	<key>GCM_SENDER_ID</key>
	<string>728354719905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunal.DeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-1557845493664</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-1557845493664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728354719905:ios:ba0ce18a991ad869</string>
	<key>DATABASE_URL</key>
	<string>https://deliveryapp-1557845493664.firebaseio.com</string>
</dict>
</plist>